body {
    background-color: lightcyan;
}

main {
    height: 90vh;
    display: flex;

    section {
        flex-basis: 50%;
        flex-grow: 1;
    }


    #announcements {
        display: none;
        background-color: #cdcdcd;
        color: #333333;
    }

    #gallery {
        display: flex;
        flex-direction: column;

        .row {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: #333;
            //height: 50%;
            border: 1px solid orangered;
            overflow: hidden;

            img {
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}

footer {
    background-color: #333333;
    color: yellow;
}
