:root {
    --footer-height: 50px;
}

body {
    background-color: skyblue;
    position: relative;
    min-height: calc(100vh - var(--footer-height));
    padding-bottom: var(--footer-height);
}

main {
    position: absolute;
    top: 50%;
    height: 100%;
    display: flex;
    transform: translateY(-50%);

    section {
        flex-basis: 50%;
        flex-grow: 1;
    }


    #announcements {
        display: none;
        background-color: #cdcdcd;
        color: #333333;
    }

    #gallery {
        display: flex;
        flex-direction: column;

        .row {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;
            border: 5px solid transparent;
            overflow: hidden;

            img {
                border-radius: 5px;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);

    background-color: #333333;
    color: yellow;

    display: flex;
    flex-direction: row;
    align-items: center;

    span.current,
    span.forecast {

        img {
            vertical-align: middle;
        }
    }

}
